* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* Login page styles */
.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

input[type="text"],
input[type="password"] {
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 2px solid #000;
}

button[type="submit"] {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.login_description {
  font-size: 14px;
  color: #ccc;
  margin: 10px 0;
  padding: 0 10px;
  text-align: center;
}

/* Birtday page styles */
.song {
  visibility: hidden;
}

.container {
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  visibility: hidden;
  width: 100vw;
}

.container > div {
  left: 0;
  right: 0;
  top: 20vh;
  position: absolute;
}

.one {
  font-size: 4.5rem;
}

.two {
  font-size: 1.2rem;
  font
